

@media(max-width : 768px){

    .navbarParent {
        background-color: black;
        width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        flex-direction: row;
      }
      .navbarParent a {
        text-transform: uppercase;
        padding: 10px;
        color: white;
      }
      .section1Container img {
        width: 100vw;
        height: 50vh;
      }
      .section2Container img {
        width: 70vw;
        height: 50vh;
        margin-top: 7vh;
        margin-bottom: 10vh;
        margin-left: 7vw;
        border-radius: 5px!important;
        align-items: center;
        justify-content: center;
      }
}


